.productComp {
    height: 90%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.productComp h1 {
    margin-bottom: 1rem;
    font-size: 2.2rem;
    text-align: center;
}
.productsCategorySection{
    width: 100%;
    height: 10%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.productsCategorySection button{
    border: 1px solid black;
    padding: 10px 15px;
    margin: 0 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: white;
    outline: none;
}
.allCategory{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.electronicCategory{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.productsCategorySection button:hover{
background-color: black;
color: white;
}
.productsCategorySection .buttonActive {
    background-color: black;
    color: white;
}
.productCardContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.productCard {
    width: 40%;
    height: 260px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.571);
    display: flex;
    margin: 1rem;
    transition-duration: .5s;
}

.productCard:hover {
    box-shadow: 0 0 10px black;
    transform: scale(1.01);

}

.imgContainer {
    width: 40%;
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer img {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.564);
    border-radius: 5px;
    padding: 15px;
    height: 80%;
    width: 80%;
}

.detailsContainer {
    width: 60%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detailsContainer p {
    margin-bottom: 8px;
    font-size: 1.3rem;
}

.detailsContainer h3 {

    font-weight: 600;
}

.detailsContainer h4 {
    font-size: 1.2rem;
    /* margin: .5rem 0; */
    margin-bottom: 1rem;
    color: red;
}

.CardButtons {
    display: flex;

    /* border: 2px solid red; */
    /* justify-content: space-evenly; */
}

.CardButtons button {
    height: 35px;
    width: 100px;
    margin-right: 1rem;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background-color: #0ca2ff;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.893);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.281);
    transition-duration: .3s;
    transition-property: box-shadow, transform;
}

.CardButtons #cart {
    background-color: rgb(49, 17, 17);
}

.CardButtons button:hover,
.CardButtons button:focus,
.CardButtons button:active {
    box-shadow: 0 0 10px rgba(24, 24, 24, 0.384);

    transform: scale(1.04);
}